{% extends 'main.html' %}

{% block content%}

<style>
    .home-3colm {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>


<div class="home-3colm">
    <div>
        <a  href="{% url 'home' %}">ALL</a>
        {% for topic in topics %}
            <div>
                <a  href="{% url 'home' %}?q={{topic.name}}" >{{topic.name}}</a>
            </div>
        {% endfor %}
    </div>
    <div>
        <h5>{{room_count}} rooms avialable</h5>
        <a href="{% url 'create-room' %}">Create Room</a>

        <div>
            <hr>
            {% for room in rooms %}
            <div>
                <hr>

                
                <span>@{{room.host}}</span><br>
                <a href="{% url 'update-room' room.id %}">Update Room</a>
                
                <h5>{{room.id}} -----<a href="{% url 'room' room.id %}"> {{room.name}}</a> </h5>
                <small>Topic: {{room.topic}} </small>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>

    </div>

    
</div>


{% endblock %}