{% extends 'base.html' %}

{% block content%}




    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">We <span> {{users_count}}</span> people who code</h1>
            <p class="hero-paragraph">
                We build products that empower developers and connect them to solutions that enable productivity, growth, and discovery.
            </p>
            <div class="hero-options">
                
                <a href="{% url 'questionlist' %}" class="btn btn-developers" style="margin-left: 5px;">Latest Questions</a>
    
            </div>
        </div>
    </section>

    <section class="for-developers">
        <div class="container">
            <div class="section-head">
                <h2 class="section-title">For developers, by developers
                </h2>
                <div class="section-line"></div>
                <p class="section-description">Stack Overflow is an open community for anyone that codes. We help you get answers to your toughest coding questions, share knowledge with your coworkers in private, and find your next dream job.
                </p>
            </div>
            <div class="options">
                <div class="option">
                    <div class="option-icon">
                        <img src="https://cdn.sstatic.net/Img/home/public-qa.svg?v=d82acaa7df9f" alt="Public Q & A">
                    </div>
                    <div class="option-title">
                        Public Q&A
                    </div>
                    <div class="option-description">
                        Get answers to more than 16.5 million questions and give back by sharing your knowledge with others.
                        <a href="{% url 'register' %}">Sign up</a> for an account.
                    </div>
                    <div class="option-button">
                        <a href="{% url 'questionlist' %}" class="option-link btn btn-dark-blue">
                            Browse questions
                        </a>
                    </div>
                </div>
            </div>
        </div>
     </section>

     <section class="questions">
        <div class="container">
           <div class="questions-content">
               <div class="questions-header">
                   <h3 class="question-title">Questions are everywhere, answers are on FREE BE</h3>
               </div>
               <div class="questions-body">
                   <div class="questions-body-items">
                       <div class="questions-body-item" data-id="0">
                           <img src="https://cdn.sstatic.net/Img/home/ask-a-question.svg?v=f4f2050b0297" alt="" class="question-item-icon">
                           <div class="question-item-text">Ask a question</div>
                           <div class="question-arrow-right"></div>
                       </div>
                       {% comment %} <div class="questions-body-item"  data-id="1">
                           <img src="https://cdn.sstatic.net/Img/home/votes.svg?v=748a8f48a8e2" alt="" class="question-item-icon">
                           <div class="question-item-text">Vote on everything</div>
                           <div class="question-arrow-right"></div>
                       </div > {% endcomment %}
                       <div class="questions-body-item"  data-id="2">
                           <img src="https://cdn.sstatic.net/Img/home/answer.svg?v=4cd8048a676c" alt="" class="question-item-icon">
                           <div class="question-item-text">Answer questions</div>
                           <div class="question-arrow-right"></div>
                       </div>
                   </div>
                   <div class="questions-body-item-content">
                       <img src="https://cdn.sstatic.net/Img/home/illo-feats-vote.svg?v=9d2eb0efdc17" alt="" class="question-item-content-img">
                       <h4 class="question-item-content-text">
                           Accept the answer which solved your problem to let others benefit from the valuable information.
                       </h4> 
                       {% if user.is_authenticated %}
                       <a href="{% url 'questionlist' %}" class="btn btn-orange question-item-content-btn">Questions</a>
                       {% else %}
                       <a href="{% url 'register' %}" class="btn btn-orange question-item-content-btn">Create an account</a>
                       {% endif %}
                   </div>
                   <div class="questions-body-items">
                       <div class="questions-body-item"  data-id="3">
                           <img src="https://cdn.sstatic.net/Img/home/tags.svg?v=913379eb09eb" alt="" class="question-item-icon">
                           <div class="question-item-text">Tag your question</div>
                           <div class="question-arrow-left"></div>
                       </div>
                       <div class="questions-body-item"  data-id="4">
                           <img src="https://cdn.sstatic.net/Img/home/accept.svg?v=27d5be078970" alt="" class="question-item-icon">
                           <div class="question-item-text">Accept a answer</div>
                           <div class="question-arrow-left"></div>
                       </div>
                       <div class="questions-body-item"  data-id="5">
                           <img src="https://cdn.sstatic.net/Img/home/get-recognized.svg?v=3b339d9aa10c" alt="" class="question-item-icon">
                           <div class="question-item-text">Get recognized</div>
                           <div class="question-arrow-left"></div>
                       </div>
                   </div>
               </div>
               <div class="questions-footer">
                   <h3 class="question-title">Learn and grow with  FREE BE</h3>
                   {% comment %} <div class="questions-grid">
                       <div class="questions-grid-item">
                           <div class="grid-item-img">
                               <img src="https://cdn.sstatic.net/Img/home/developer.svg?v=b930de7967a7" alt="">
                           </div>
                           <h4 class="grid-item-title">Write the script of the future</h4>
                           <p class="grid-item-description">Get your coding questions answered to learn, build, and level up whether you’re beginning with
                               JavaScript or a React professional.
                           </p>
                       </div>
                       <div class="questions-grid-item">
                           <div class="grid-item-img">
                               <img src="https://cdn.sstatic.net/Img/home/open-source.svg?v=847b604fd2ab" alt="">
                           </div>
                           <h4 class="grid-item-title">Support open source
                           </h4>
                           <p class="grid-item-description">Reach users of your project by following tags, answering newcomer questions, and empowering experts in the community.
                                Read the curl project creator’s story.
    
    
                           </p>
                       </div>
                       <div class="questions-grid-item">
                           <div class="grid-item-img">
                               <img src="https://cdn.sstatic.net/Img/home/advocate.svg?v=4b03cfb93502" alt="">
                           </div>
                           <h4 class="grid-item-title">Acquire and share knowledge
                           </h4>
                           <p class="grid-item-description">Answer questions and gain insights from an audience of developers using your technology on Stack Overflow.
                           </p>
                       </div>
                       <div class="questions-grid-item">
                           <div class="grid-item-img">
                               <img src="https://cdn.sstatic.net/Img/home/career-switcher.svg?v=a41416ff19df" alt="" >
                           </div>
                           <h4 class="grid-item-title">Find career opportunities
                           </h4>
                           <p class="grid-item-description">Create a profile that shows off your expertise and credentials to help you make your next move. Start your
                               Developer Story.
                           </p>
                       </div>
                   </div> {% endcomment %}
               </div>
           </div>
        </div>
    </section>



{% endblock %}