{% extends 'main.html' %}

{% block content%}

<style>
    .home-3colm {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>


<div class="home-3colm">
    <div>
        <a  href="{% url 'home' %}">ALL</a>
        {% for topic in topics %}
            <div>
                <a  href="{% url 'home' %}?q={{topic.name}}" >{{topic.name}}</a>
            </div>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'create-room' %}">Create Room</a>
        <div>
            {% for room in rooms %}
            <div>
                <span>@{{room.host}}</span>
                <hr>
                <h5>{{room.id}} -----<a href="{% url 'room' room.id %}"> {{room.name}}</a> </h5>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>

    </div>

    
</div>


{% endblock %}